.page-header{
    display: flex;
    height: 10vh;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.push-left {
    padding-left: 25%;
    font-size: 24px;
}

.push-right {
    margin-left: auto;
    padding-right: 25%;
    color: #F9FAF8;
}

.push-right li {
    display: inline;
    padding-left: 12px;
}

.page-body {
    border: solid 2px rgb(224, 13, 13);
    height: 78vh;
}

.body-section-1 {
    display: flex;
    justify-content: space-between;
    height: 40%;
    background-color: #1F2937;
    padding-left: 25%;
    padding-right: 25%;
    align-items: center;
}

.section-1-half-1 {
    width: 40%;
}

.section-1-title {
    font-size: 48px;
    color: #F9FAF8;
}

.section-1-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1-button button{
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 18px;
    color: white;
}

.section-2-half-2 {
    display: flex;
    width: 40%;
    height: 90%;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.body-section-2 {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-left: 10%;
    padding-right: 10%;
}

.body-section-2 .section-2-header {
    text-align: center;
}

.section-2-header {
    font-size: 36px;
    font-weight: 800;
    height: 20%;
}

.section-2-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2-content {
    display: flex;
    height: 80%;
    justify-content: center;
}

.section-2-box {
    border: solid 2px #3882F6;
    margin: 0px 15px 0px 15px;
    border-radius: 8px;
    height: 12vh;
    width: 12vh;
}

.box-subtext {
    width: 12vh;
    margin-top: 4px;
    text-align: center;
}

.page-footer {
    border: solid 2px rgb(34, 156, 255);
    height: 10vh;
}