.page-header{
    display: flex;
    border: solid 2px green;
    height: 10vh;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.push-left {
    padding-left: 10%;
    font-size: 24px;
}

.push-right {
    margin-left: auto;
    padding-right: 10%;
    color: #F9FAF8;
}

.push-right li {
    display: inline;
    padding-left: 12px;
}

.page-body {
    border: solid 2px rgb(224, 13, 13);
    min-height: 78vh;
}

.page-footer {
    border: solid 2px rgb(38, 9, 207);
    height: 10vh;
}