body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-header{
    display: flex;
    height: 10%;
    background-color: #1F2937;
    align-items: center;
    color: white;
}

.push-left {
    padding-left: 25%;
    font-size: 24px;
    font-weight: bold;
}

.push-right {
    margin-left: auto;
    padding-right: 25%;
    color: #F9FAF8;
}

.push-right li {
    display: inline;
    padding-left: 12px;
}

.push-right li a {
    text-decoration: none;
    color: #F9FAF8;
}

.page-body {
    height: 100vh;
}

.body-section-1 {
    display: flex;
    justify-content: space-between;
    height: 40%;
    background-color: #1F2937;
    padding-left: 25%;
    padding-right: 25%;
    align-items: center;
}

.section-1-half-1 {
    width: 40%;
    height: 60%;
}

.section-1-title {
    font-size: 48px;
    color: #F9FAF8;
}

.section-1-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1-button button {
    background-color: #3882F6;
    margin-top: 8px;
    border-radius: 8px;
    border: solid 2px #3882F6;
    font-size: 20px;
    padding: 4px 25px 4px 25px;
    color: white;
}

.section-1-half-2 {
    display: flex;
    width: 50%;
    height: 60%;
    background-color: rgba(211, 211, 211, 0.349);
    justify-content: center;
    align-items: center;
    color: white;
}

.body-section-2 {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-left: 10%;
    padding-right: 10%;
}

.body-section-2 .section-2-header {
    text-align: center;
    padding-top: 30px;
}

.section-2-header {
    font-size: 36px;
    font-weight: 800;
    height: 20%;
}

.section-2-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2-content {
    display: flex;
    height: 80%;
    justify-content: center;
}

.section-2-box {
    border: solid 2px #3882F6;
    margin: 0px 15px 0px 15px;
    border-radius: 8px;
    height: 12vh;
    width: 12vh;
}

.box-subtext {
    width: 12vh;
    margin-top: 4px;
    text-align: center;
}

.body-section-3 {
    display: flex;
    height: 40%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e5E7EB;
    align-items: center;
    justify-content: center;
}

.section-3-content {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 65%;
}

.section-3-quote {
    font-size: 36px;
    font-style: italic;

}

.section-3-author {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}

.body-section-4 {
    display: flex;
    height: 40%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}

.section-4-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    border-radius: 8px;
    background-color: #3882F6;
}

.action-command {
    color: white;
    margin-left: 10%;
    flex-grow: 4;
}

.action-command .command-title {
    font-size: 26px;
    font-weight: bold;
}

.action-command .command-subtext {
    font-size: 20px;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 10%;
    flex-grow: 1;   
}

.action-button button {
    color: white;
    font-size: 20px;
    padding: 4px 25px 4px 25px;
    background-color: #3882F6;
    border: solid 2px white;
    border-radius: 8px;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: #1F2937;
    color: white;
}
